MEMFAULT_PROJECT_KEY="<INSERT PROJECT KEY HERE>"
DEV_SSH_KEYS="<INSERT PUBLIC SSH KEY HERE>"

# MEMFAULT_ORG_SLUG="<INSERT MEMFAULT ORG SLUG>"
# MEMFAULT_ORG_TOKEN="<INSERT MEMFAULT ORG TOKEN>"
# MEMFAULT_PROJECT_SLUG="<INSERT MEMFAULT PROJECT SLUG>"
